.website_name {
  font-family: Verdana, sans-serif;
  flex-grow: 1;
  color: black;
  font-weight: bold;
  font-size: 2em;
  background: -webkit-linear-gradient(#000000, #434343);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
