.left_part {
  width: 50%;
  background-color: white;
  text-align: center;
  color: grey;
}

.right_part {
  display: inline-block;
  width: 50%;
  background-color: #1c1c1c;
  text-align: center;
  vertical-align: middle;
  line-height: 600px;
}

#left_part_title {
  margin: 10%;
  margin-bottom: 5%;
  weight: bold;
  font-size: 2em;
  color: #1c1c1c;
  text-align: left;
}

#left_part_description {
  margin: 10%;
  margin-top: 5%;
  weight: bold;
  color: #1c1c1c;
  text-align: left;
}
