.presentation_background {
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.text_description {
  color: #1c1c21;
  font-family: Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0;
}

.text_description_legend {
  color: #1c1c21;
  font-family: Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
