.shopping-list ul {
  list-style: none;
  padding: 0;
  width: 30%;
  margin: auto;
}

.shopping-list li {
  font-size: 1.3rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
  color: blue;
}

.shopping-list li::before {
  content: "• ";
  color: red; /* or whatever color you prefer */
}
